<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Dojo</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}" >
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" >
        <script type="text/javascript" src="{{ asset('js/jquery.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}" ></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" >
    </head>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
